body{
    margin:0;
    padding:0;
}
#content{
    text-align: left;
    margin: 2% 20% 0 20%;
}
.inputForm{
    float:left;
    display: block;
    width: 20%;
    padding-left: 2%;
}
.itemsList{
    float: left;
    display:block;
    width: 80%;
}
.titleHeader{
    text-align: center;
    margin-bottom: 2%;
}